* { box-sizing: border-box; }
html { height: 100%; width: 100%; font-size: 100%; background: #000000; height: 2000px;}
.hidden { display: none; }

:root {
	--header-font: 'Balsamiq Sans', cursive;
	--main-font: 'Roboto Mono', monospace;
	--secondary-font: 'Alata', sans-serif;
}

/*-------------------------
		  HEADER
--------------------------*/
#header { 
	z-index: 5;
	height: 90px; 
	padding: 15px 40px 20px 40px; 
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	transition: all .3s ease;
	color: #fff;
	font-family: var(--main-font)
}

#header.atTop {
	background-color: #000000;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	color: #fff;
}
#header.notTop {
	background-color: #fff;
	color: #000000;
}

#header .container { display: flex; justify-content: space-between; align-items: center; }
#header i { font-size: 35px; cursor: pointer; }
#header span { line-height: 20px; }
#header .logo { 
	text-align: center; 
	font-weight: 400;
	text-align: left;
	cursor: pointer;
	font-family: var(--main-font);
}

.nav-list { list-style: none; font-weight: 400;}

.desktop-nav-list {
	display: flex;
}
.desktop-nav-list li {
	cursor: pointer;
	padding-right: 30px;
}

.desktop-nav-list li:after{
	height: 10px;
    display: block;
    width: 0;
    background: #808080;
    border-right: 1px white;
	content: '';
	transition: width .2s ease;
}
.desktop-nav-list li:hover:after{
	width: 100%;
}

.mobile-nav-list {

}
@media only screen and (max-width: 800px) {
	.desktop-nav { display: none; }
	.mobile-nav-container.inactive { left: 100%; }
	.mobile-nav-container.active { left: 0; }

	.mobile-nav-container {
		position: fixed;
		top: 90px;
		height: 100%;
		width: 100%;
		background: #808080;
		color: #fff;
		transition: left .4s ease;
		text-align: center;
	}
	.mobile-nav-list {
		padding: 40px 0;
	}
	.mobile-nav-list li {
		margin: 15px 0;
	}
	.mobile-nav-list li:not(:last-child):after{
		height: 4px;
		display: block;
		width: 52px;
		background: #fff;
		border-right: 1px white;
		content: '';
		margin: 10px auto;
	}
}
@media only screen and (min-width: 801px) {
	.mobile-nav { display: none; }
}

/*-------------------------
		  BANNER
--------------------------*/

#homebanner {
	width: 100%;
	margin: 100px auto 0;
	height: 60vh;
}

.home-slider-container {
	height: 60vh;
	width: 100%;
}	

.home-slider {
	height: 50vh;
	width: 100%;
	display: block;
}

.home-slider div, .kitty_caddy-slider .kc_img {
	position: relative;
	height: 400px;
	width: 90%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.slick-list.draggable {
	margin: 0 auto;
}

.homebanner-header {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	color: #fff;
	font-family: var(--secondary-font);
	font-weight: 400;
	text-align: center;
	text-shadow: 2px 2px 8px #000000;
	letter-spacing: 16px;
}

@media only screen and (max-width: 800px){
	.leather .homebanner-header { top:35%; }
}

/*-------------------------
	CONTACT + QUOTE
--------------------------*/

#quick-contact {
	padding-top: 10px;
	height: 100px;
	text-align: center;
	color: white;
}

.quick-contact-container i {
	font-size: 30px;
	margin: 10px 5px;
	width: 35px;
	height: 35px;
	padding-top: 2px;
	border-radius: 50%;
	cursor: pointer;
}

#quick-contact .fa-instagram { background-color: #e13450; }
#quick-contact .fa-envelope-o { background-color: #3d9cec; font-size: 27px;}

#quote { width: 100%; }
#quote .container {
	padding: 15px 25px;
	margin: 0 auto;
	height: 300px;
	width: 90%;
	background-image: url('images/gwc.JPG');
	background-size: contain;
	background-position: center;
	background-repeat: repeat-x;
}

#quote .container:hover { 
	background-image: url('images/getWell.JPG');
}

.services_text {
	color: #fff;
	font-family: var(--secondary-font);
	font-size: 12px;
	text-align: left;
}
@media (min-width: 768px){
	.services_text { font-size: 20px; text-align: center;}
}

.services_text span {
	display: block; 
	height: 120px;
 }

 /*-------------------------
		DESIGNS
--------------------------*/
#designs { width: 100%; }
.designs_header, .kitty_caddy { 
	margin: 50px auto 20px; 
	text-align: center;
	font-family: var(--main-font);
	color: #fff;
}

.designs_header h3 { font-size: 30px; }
.kitty_caddy h4 { font-size: 18px; margin: 0;}

.kitty_caddy {
	width: 85%;
	height: 500px;
}

.kitty_caddy .slick-list.draggable {
	height: 300px;
}
.kitty_caddy-slider {
	height: 255px;
}
.kitty_caddy .slick-list.draggable div { height: 260px;}
.slick-dots li button:before { color: #949494 !important;}
.slick-dots li.slick-active button:before { color: #fff !important;}