* { box-sizing: border-box; }
body { margin: 0;}
html { height: 100%; width: 100%; font-size: 100%; background: #000000;}
.hidden { display: none; }

:root {
	--header-font: 'Balsamiq Sans', cursive;
	--main-font: 'Roboto Mono', monospace;
	--secondary-font: 'Alata', sans-serif;
}

/*-------------------------
		  HEADER
--------------------------*/
#header {
	z-index: 5;
	height: 90px;
	padding: 15px 40px 20px 40px;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	transition: all .3s ease;
	color: #fff;
	font-family: var(--main-font)
}

#header.atTop {
	background-color: #000000;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	color: #fff !important;
}
#header.notTop {
	background-color: #fff;
	color: #000000 !important;
}

#header .container { display: flex; justify-content: space-between; align-items: center; }
#header i { font-size: 35px; cursor: pointer; }
#header span { line-height: 20px; }
#header .logo {
	text-align: center;
	font-weight: 400;
	text-align: left;
	cursor: pointer;
	font-family: var(--main-font);
}

.nav-list { list-style: none; font-weight: 400;}
.nav-list a { text-decoration: none; color: inherit;}
.desktop-nav-list {display: flex; }
.desktop-nav-list li {cursor: pointer;padding-right: 30px;}
.desktop-nav-list li:hover:after{width: 100%; }

.desktop-nav-list li:after{
	height: 10px;
    display: block;
    width: 0;
    background: #808080;
    border-right: 1px white;
	content: '';
	transition: width .2s ease;
}

@media only screen and (max-width: 800px) {
	.desktop-nav { display: none; }
	.mobile-nav-container.inactive { left: 100%; }
	.mobile-nav-container.active { left: 0; }

	.mobile-nav-container {
		position: fixed;
		top: 90px;
		height: 100%;
		width: 100%;
		background: #808080;
		color: #fff;
		transition: left .4s ease;
		text-align: center;
	}
	.mobile-nav-list {
		padding: 40px 0;
	}
	.mobile-nav-list li {
		margin: 15px 0;
	}
	.mobile-nav-list li:not(:last-child):after{
		height: 4px;
		display: block;
		width: 52px;
		background: #fff;
		border-right: 1px white;
		content: '';
		margin: 10px auto;
	}
}
@media only screen and (min-width: 801px) {
	.mobile-nav { display: none; }
}

/*-------------------------
		  BANNER
--------------------------*/

#homebanner {
	width: 100%;
	margin: 100px auto 70px;
	height: 90vh;
}

.home-slider-container {
	height: 100%;
	width: 100%;
}

.home-slider {
	height: 100%;
	width: 100%;
	display: block;
}

.home-slider div, .design-slider .slider_img {
	position: relative;
	height: 100%;
	width: 90%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.slick-list.draggable {
	margin: 0 auto;
	height: 100% !important;
}

.homebanner-header {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 90px;
	color: #fff;
	font-family: var(--secondary-font);
	font-weight: 400;
	text-align: center;
	text-shadow: 2px 2px 8px #000000;
	letter-spacing: 16px;
}

.leather .homebanner-header { top:35%; }

@media only screen and (max-width: 800px){
	.homebanner-header {font-size: 9vw}
	#homebanner {height: 55vh; margin: 80px auto 25px;}
}

/*-------------------------
	CONTACT + QUOTE
--------------------------*/

#quick-contact {
	padding-top: 10px;
	height: 100px;
	text-align: center;
	color: white;
	margin-bottom: 50px;
}

.quick-contact-container i {
	font-size: 30px;
	margin: 10px 5px;
	width: 35px;
	height: 35px;
	padding-top: 2px;
	border-radius: 50%;
	cursor: pointer;
}

#quick-contact .fa-instagram { background-color: #e13450; }
#quick-contact .fa-envelope-o { background-color: #3d9cec; font-size: 27px;}

#quote { margin: 0 auto 80px;}

#quote .container {
	padding: 0 25px;
	background-image: url('images/getWell.JPG');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.services_text {
	color: #fff;
	font-family: var(--secondary-font);
	text-align: center;
}
@media (min-width: 768px){
	#quote { width: 500px; height: 350px; }
	.services_text { font-size: 16px; padding: 10px 0 35px;}
	.services_text span {display: block; height: 175px;}
	#quick-contact { margin-bottom: 50px;}
}
@media (max-width: 767px){
	#quote { width: 350px; height: 200px;}
	.services_text { font-size: 11px;	padding: 10px 0 15px;}
	.services_text span {display: block; height: 115px;}
	#quick-contact { margin-bottom: 5px;}

}

 /*-------------------------
				DESIGNS
--------------------------*/
#designs { width: 100%; max-width: 1000px; margin: 80px auto;}
.designs_header h3 { font-size: 30px; margin: 50px auto 20px; }
.dl-container { width: 85%; }
.design-slider .slick-list.draggable { height: 100%; }
.design-slider { height: 100%;}
.dl-container .slick-list.draggable div { height: 100%;}
.slick-dots {bottom: -40px !important;}
.slick-dots li button:before { color: #949494 !important;}
.slick-dots li.slick-active button:before { color: #fff !important;}

.designs_header, .dl-container {
	text-align: center;
	font-family: var(--main-font);
	color: #fff;
}
.dl-container h4 {
	font-size: 18px;
    border-top: 4px solid #808080;
    border-bottom: 4px solid #808080;
    width: 50%;
    padding: 10px 0;
}

@media screen and (max-width: 767px){
	.dl-container {height: 255px;}
	.eyeball.dl-container, .leather.dl-container {height: 180px;}
	.dl-container {margin: 50px auto 180px; }
	.dl-container h4 { margin: 0 auto 10px; }
}
@media screen and (min-width: 768px){
	.dl-container {height: 500px;}
	.eyeball.dl-container, .leather.dl-container {height: 360px;}
	.dl-container {margin: 50px auto 240px; }
	.dl-container h4 { margin: 0 auto 40px; }
}

/*-------------------------
	      FOOTER
--------------------------*/
#footer {width: 100%; margin: 0 auto;}
#footer .container {
	width: 100%;
	height: 150px;
	margin: 0 auto;
	background-image: url('images/logo.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	filter: sepia(1);
}

#footer .text_container {
	display: flex;

  height: 100%;

  padding: 0 20px;
	font-family: var(--main-font);
	color: #000;
}

#footer .right a { text-decoration: none; }


@media screen and (max-width: 767px){
	#footer .container {
		background-position: left;
	}
	#footer .text_container {
		font-size: 10px;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	#footer .right {text-align: left;}
	#footer .right a {color: #000; font-size: 8.5px;}
}
@media screen and (min-width: 768px){
	#footer .container {
		background-position: center 25%;
	}
	#footer .text_container {
		font-size: 14px;
		justify-content: space-between;
		align-items: flex-end;
	}

	#footer .right {text-align: right;}
	#footer .right a {color: #fff; }
}
